<!DOCTYPE html>
<html lang="en">
<head>
        {{>headerlinks}}
</head>
<body>
 {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 max-auto">
                <div class="row">
                    <!-- left side div  -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/MERN-STACK-2.png" alt="thapa" class="img-fluid" title="subhra sundar sinha">
                        </figure>
                          </div>
                    <div class="col-md-6 col-12 main_header_left">
                     <p>Welcome to Global Weather App</p>
                     <h1>I Am A <span class="text_clr">MERN Stack Developer Graphic Designing & Editing Enthusiast || DS & Algo |</span></h1>
                     <div class="d-flex gap-3 social--">
                     <a href="https://www.linkedin.com/in/subhra-sundar-sinha-779538181/" target=”_blank”>
                        <button>
                        <i class="fa-brands fa-linkedin" style="font-size: 2rem ;padding: 5px;display: flex;
                                align-items: center;
                                justify-content: center;"></i>
                       </button>
                       </a>
                     <a href="https://www.facebook.com/subhra.sundar.7/" target=”_blank”><button><i class="fa-brands fa-facebook" style="font-size: 2rem ;padding: 5px;display: flex;
  align-items: center;
  justify-content: center;"></i></button></a>
                     <a href="https://www.instagram.com/level_ar_pagol/" target=”_blank”><button><i class="fa-brands fa-instagram"style="font-size: 2rem ;padding: 5px;display: flex;
  align-items: center;
  justify-content: center;"></i></button></a>
                     <a href="https://github.com/PavilionRYZ" target=”_blank”><button><i class="fa-brands fa-github"style="font-size: 2rem ;padding: 5px;display: flex;
  align-items: center;
  justify-content: center;"></i></button></a>
  </div>
                    </div>
                    <!-- right side div  -->
                    
                    </div>
                </div>
        </div>
    </div>        
</div>      
<!-- footer  -->
{{>footer}}  
</body>
</html>